[2019-10-18 13:00] markphillips100 opened #19 "Helm chart fails preview"
**Describe the bug**
Running a Pulumi preview command using the task, even after a HelmInstaller task successfully runs, fails to fetch a helm chart if a Chart resource exists in the Pulumi project.  The Helm tool cannot locate the `.helm` folder.

**To Reproduce**
Use a Chart resource from a Pulumi project run by the Pulumi@1 task.

**Expected behavior**
The helm Chart resource provider should lo

[2019-11-13 13:59] rajeshmuraleedharan opened #20 "Azure DevOps pulumi preview command failing (C# stack) due to nuget null HOME ENV variable"
i know C# language support still in preview.

I have observed c# stack project failing on DevOps
error : Value cannot be null. (Parameter 'path1')

![image](https://user-images.githubusercontent.com/16232384/68770107-2554f680-05eb-11ea-8189-294c74671aaf.png)

![image](https://user-images.githubusercontent.com/16232384/68770125-33a31280-05eb-11ea-8310-fbb55d62a98d.png)

But i am able to do dotnet b

[2019-11-13 21:14] clstokes opened #21 "Don't require Subscription selection"
The Azure DevOps task shouldn't require selecting an Azure Subscription which limits using the task for non-Azure workloads.

[2019-11-13 21:40] praneetloke commented on #20
@rajeshmuraleedharan it is not clear to me if you are using this Pulumi task extension to run your Pulumi app in Azure DevOps? Are you manually installing the Pulumi CLI yourself and then running into an issue with running `pulumi preview`?

[2019-11-14 04:02] rajeshmuraleedharan commented on #20
Yes i am using Pulumi task extension to run c# pulumi app. I have installed pulumi sdk on my deployment agent (windows server 2016). Which has .net core 3 sdk pre-installed. if i run dotnet restore/ build as a deployment step then project getting build successfully. pulumi preview/ up getting above error

[2019-11-14 05:33] praneetloke commented on #20
@rajeshmuraleedharan thanks for clarifying. Can you please post your Azure Pipelines config in a GitHub Gist? (Be sure to remove any confidential information from it.)

[2019-11-14 06:59] #21 closed

[2019-11-14 07:04] praneetloke opened #23 "Unable to run Pulumi for a dotnet app"
**Describe the bug**
When running a dotnet core-based Pulumi app, Pulumi exits with the following error due to the `dotnet` CLI throwing an error during `dotnet build`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dotnet Pulumi app
2. Use Pulumi Azure Pipelines Task Extension
3. Run the pipeline

**Expected behavior**
Pulumi should allow setting the `DOTNET_CLI_HOME` env

[2019-11-14 07:12] praneetloke opened #24 "Use tl.getVariables instead of individually mapping every variable to pass to the Pulumi CLI"
In a PR for #21, I added the ability to map the AWS env vars so that the Pulumi CLI can access them. It would be nice if we didn't have to do this manually for every env var that we would want to pass from the build agent to the Pulumi task. Instead, if we could use `tl.getVariables` which gets us _all_ of the build variables, then we don't have to intervene manually.

[2019-11-14 07:30] praneetloke commented on #23
#20 seems to have been reported for a build agent running on Windows. The above bug report is for Ubuntu.

[2019-11-14 07:37] #23 closed

[2019-11-14 08:07] praneetloke commented on #20
A new version of the task extension was released which potentially fixes this issue. Would you mind giving it a try? The extension version is 1.0.1. Your build agent should automatically pick-up the new version so as long as you are using the major version 1.x of the task extension.

[2019-11-20 06:51] praneetloke commented on #20
@rajeshmuraleedharan I am going to close this issue as I think the issue is fixed by #25. Please feel free to reopen this if you are still having issues.

[2019-11-20 06:51] #20 closed

[2019-11-21 19:46] tronelius opened #27 "Make it possible to support Azure remote backend (and possibly others)"
I would like to have the Azure Devops extension to support Azure Storage as backend for state. Currently it seems like the extension is doing a "pulumi login" and expected an access token as an environmentvariable. Perhaps a good idea would to have alternative environmentvariables that could alter the behaviour to do an "pulumi login -c azblob://xxxyyyzzz" and then expect the usual 2 AZURE_STORAGE

[2019-11-22 23:44] #24 closed

[2020-01-11 01:05] praneetloke commented on #27
This was completed originally with #28, but later the full support for allowing to pass login args was added with #30. The login args can be used to pass the `-c` flag to the `pulumi login` command, which will allow a user to use any of the [supported backends](https://www.pulumi.com/docs/intro/concepts/state/#logging-in).

[2020-01-11 01:05] #27 closed

[2020-01-16 21:41] praneetloke opened #33 "Remove the `init` option from the command input options"
**Describe the bug**
The `init` option is no longer available in the Pulumi CLI.

**To Reproduce**
N/A

**Expected behavior**
N/A

**Screenshots**
![image](https://user-images.githubusercontent.com/1466314/72565027-d7b46e80-3865-11ea-92b8-1d08d8f2b2c2.png)

**Additional context**
N/A

[2020-01-17 16:25] DaRosenberg opened #34 "Pipelines task should allow for creation of new stacks"
We need a way to create a new stack as part of a DevOps pipeline. The stack name could for example be input using a user-configurable pipeline variable, or it could be the name of the branch that triggered the build.

I.e. use this task to initialize a new stack if it does not already exist.

The obvious thing to try is to set `command: stack` and `options: init $(StackName)` in the YAML.

However

[2020-02-04 18:13] praneetloke commented on #34
@DaRosenberg

Yes, this is what I was originally thinking too. However, I think explicitly asking the user to select a checkbox that indicates to the task that they would like the stack to be created if it does not exist might be a better way. I am only saying that because, if the user makes a mistake and didn't run the Pulumi task in the correct working directory, the `stack select` error would b

[2020-02-05 09:03] DaRosenberg commented on #34
@praneetloke your suggestion is even better. It would certainly solve our scenario, and it does sound much cleaner. 👍

[2020-02-05 12:23] swoop-alex commented on #34
facing same issue. any change to get this fixed soon?

[2020-02-05 18:39] praneetloke opened #35 "Cleanup unit tests"
The unit tests have a lot of repetition among them. It is also a little hard for new contributors to understand what should go in a test when a new one is being added. Creating some common utilities that can be shared by the unit tests would be great and would reduce the boilerplate code, that is currently required.

[2020-02-05 19:08] praneetloke commented on #34
@DaRosenberg @swoop-alex I just opened #36 to address, could you please take a look at the screenshot in that PR and let me know what you think?

[2020-02-05 19:13] swoop-alex commented on #34
LGTM

[2020-02-05 19:13] praneetloke opened #37 "Add templates of vss-extension.json and task.json for private testing"
With #36, instructions were added to show how one could build a private version of the extension for contributors, who would like to test changes in their own personal Azure DevOps organization before submitting a PR. This issue is for adding templates of the manifest files, that need to be manually updated. Without the templates, a contributor would have to modify the main manifest files, which t

[2020-02-05 20:49] DaRosenberg commented on #34
@praneetloke Looks good! Personally I would have put the checkbox in connection with the stack name text box (even if it's not used by most) but I can understand your reasoning for tucking it away.

[2020-02-05 22:54] praneetloke opened #38 "Use the new flag on `stack select` to create a stack if one is not available"
With https://github.com/pulumi/pulumi/pull/3852, a new flag was added to support exactly the thing we want with #34. So once that is available, using that as the first-class way in the code to create the non-existent stack and falling back to the manual way for older versions of the CLI would be the best.

[2020-02-06 20:41] #33 closed

[2020-02-06 20:41] #34 closed

[2020-02-06 23:17] praneetloke commented on #34
@swoop-alex @DaRosenberg this is now available with the v1.0.6 of the task extension. It typically takes the Az Pipelines build agents to pick-up the new version in about 5 minutes after the release is available in the marketplace.

[2020-02-06 23:26] joshsten opened #39 "Variable expansion does not appear to work for the "stack" field"
![image](https://user-images.githubusercontent.com/218617/73987367-c3fca500-4905-11ea-900c-8f311eafec0e.png)

I would expect this to pass the value of the variable down to the pulumi command as other fields other do, but for some reason in this case it passes the variable as is literally.

This is the yaml screenshot above, but the UI based tasks have the same result.

[2020-02-06 23:54] praneetloke commented on #39
If I understand correctly, from your screenshot, `$env:pullRequestShortName` contains the name of yet another variable that actually has the value of the stack, correct?

[2020-02-07 15:48] joshsten commented on #39
That's correct!

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch

[2020-02-07 22:22] praneetloke commented on #39
I just did a quick test and the following worked for me. I defined an outer variable with the value of `$(inner)`, which holds the actual value I need:

<img width="554" alt="Screen Shot 2020-02-07 at 13 33 01" src="https://user-images.githubusercontent.com/1466314/74067594-7e47e700-49ae-11ea-81e8-43cbeebc019c.png">

<img width="184" alt="Screen Shot 2020-02-07 at 13 33 08" src="https://user-image

[2020-02-07 22:59] joshsten commented on #39
That worked! I actually didn't need the env:

Sorry about taking your time. It appears it was my misusage. Thank you for the quick response.

[2020-02-07 22:59] #39 closed

[2020-02-07 23:02] praneetloke commented on #39
Glad you were able to resolve it!

[2020-03-23 17:09] DaRosenberg opened #40 "'dotnet build' fails with internal feed package references"
In a couple of our Pulumi programs, we are importing some shared NuGet packages from an internal package feed in our Azure DevOps project. This is a project-scoped internal package feed in the same Azure DevOps project.

We use the `NuGetToolInstaller@1` and `NuGetCommand@2` (restore command) tasks to restore, before doing `dotnet build --no-restore`. This works fine; the NuGet commands implicitly

[2020-03-29 08:58] StefH opened #41 "Make a copy-paste ready example yml from the Azure Pipelines example"
Can you please release a copy-paste ready example `yml` for the screenshot which is described on the info page? This makes it easier as a start template.

![image](https://user-images.githubusercontent.com/249938/77845053-09be4700-71ac-11ea-8b6e-2a1556d9c9d7.png)

[2020-03-29 23:18] leezen commented on #41
While not quite the same, there are a couple examples available in https://github.com/pulumi/pulumi-az-pipelines-task/tree/master/examples -- are those helpful for you to get going?

[2020-03-30 07:11] StefH commented on #41
@leeze Thanks, I found this one, but it's very minimal.

Currently I trying to do a `Publish` (from an Azure Fucntion) and a Pulumi Preview, however I'm stuck on the location from the published files.

Azure Pipelines looks like this:
[code]

Which publishes the files into `/home/vsts/work/1/s/publish/FunctionsAppV3/`

And my Pulumi Stack looks like this (excerpt):
[code]

But this fails with:

Ca

[2020-03-30 22:48] leezen commented on #41
Where does that publish step place the outputs? It looks like the path doesn't actually exist looking at the error message?

[2020-03-31 06:24] StefH commented on #41
I found out the root cause.

The problem is that I used two jobs : 1 job to publish and 1 job to deploy using Pulumi. This will not work because each job gets a fresh copy from GIT, so the publish folder is gone in the second job.

So my solution was to just use 1 job for publishing and deploying.

[2020-03-31 06:24] #41 closed

[2020-05-02 11:29] StefH opened #42 "Error: spawn /home/vsts/work/_temp/.../pulumi/pulumi ENOENT"
I've this YAML task:
[code]

But this fails on Azure Pipelines:

[code]

[2020-05-05 19:13] praneetloke commented on #42
@StefH I see that you set the `cwd` input to `Pulumi`. Are you certain that that is the folder where your `Pulumi.yaml` and `Pulumi.dev.yaml` are located?

[2020-05-05 20:01] StefH commented on #42
Good point, you are correct.

I need to use `cwd: src/Pulumi`

[2020-05-05 20:01] #42 closed

[2020-05-22 17:21] praneetloke commented on #40
@DaRosenberg we now have the option for you to specify a pre-built binary for Pulumi to execute via the `binary` option in your `Pulumi.yaml` file. Could you please see if that would work for your situation?

See https://www.pulumi.com/docs/intro/concepts/project/ for all options supported in the `Pulumi.yaml` file.

[2020-05-22 19:20] DaRosenberg commented on #40
Hi @praneetloke - I tried this, and it almost works. :)

I get the following error when executing `pulumi up`:

[code]

Looks like Pulumi is looking for the path:
`dotnet-bin/Debug/netcoreapp3.1/IDeliverable.Licensing.Infra.dll`

But in `Pulumi.yaml` I have specified it like this:

[code]

I can see in the build logs that the DLL is in fact output to the correct location on disk:

[code]

Here is

[2020-05-22 20:17] praneetloke commented on #40
Hmm what happens if you provide the absolute path to that binary? I am going to try it with one of my projects in the meantime too.

cc @mikhailshilkov

[2020-05-22 20:52] DaRosenberg commented on #40
@praneetloke If I provide the absolute path I get a different error:

[code]

I'm guessing this is a different issue? In which case I guess providing the absolute path does work around the first issue.

But (obviously) it's not a viable workaround to hardcode the build agent paths, because:

- these paths might change
- we are not able to run the project locally

[2020-05-22 21:03] DaRosenberg commented on #40
Out of curiosity I also tried specifying a relative path with `./` syntax, and that also seems to resolve the path issue actually. (The pipeline is a running on a Linux build agent.)

But the `no resource plugin 'azure-v3.5.1'` error still remains.

[2020-05-22 21:15] praneetloke commented on #40
Ah I see. Yeah looking at the code, it seems that relative/absolute path should work.

The issue with the missing plugins seems to be because of [this](https://github.com/pulumi/pulumi/blob/master/sdk/dotnet/cmd/pulumi-language-dotnet/main.go#L131). It seems the logic is to skip acquiring the plugins if a `binary` is specified; maybe because the plugins are thought to have been acquired already wh

[2020-05-22 21:15] mikhailshilkov commented on #40
The plugin issue is mostly expected as we [skip](https://github.com/pulumi/pulumi/blob/21ccfb8de76240d1ab61f42a1f53b33437d3ff8e/sdk/dotnet/cmd/pulumi-language-dotnet/main.go#L132) the plugin discover in binary mode.

The current workaround is to call `pulumi plugin install` manually, something like `pulumi plugin install resource azure 3.5.1`.

[2020-05-22 21:21] DaRosenberg commented on #40
No actually the binary is built in the same pipeline job on the same agent, just the step before.

[2020-05-22 21:25] praneetloke commented on #40
Ah I see. From a simple `dotnet build ...`. That wouldn't have installed Pulumi plugins. So yeah you would need to install the plugins manually. That does mean that you would need to have a step with the Pulumi task that simply installs the CLI and runs a simple command like `stack` (which I _think_ wouldn't attempt to build your C# project), for example. Followed by a shell script task to execute

[2020-05-23 00:08] DaRosenberg commented on #40
@praneetloke OK, I see. Then, unfortunately, for us to use this new binary support creates more complexity than it removes.

Currently we have added steps to our pipeline to write the NuGet feed credentials into the `NuGet.config` file in clear text, just so that Pulumi will be able to build our program. The `binary` feature would allow us to remove that (which is very good) but then instead we th

[2020-05-23 00:23] praneetloke commented on #40
Yes, definitely understand your situation and agree that the workaround is a bit of a hack.

Yes, good idea. However, I feel like that is still somewhat equivalent to what I proposed above, i.e. it would require you to use the install step, then a custom script step, and then finally the Pulumi task step. It doesn't eliminate the repetition of the steps per se. Or did I misunderstand what you were

[2020-05-23 00:33] DaRosenberg commented on #40
Sorry, I realize that was not super clear.

I would not mind needing multiple task steps in my pipeline per se - this is fairly common practice, for example with the built-in tasks I mentioned. The usual convention seems to be one task to install, one task to execute commands. The former typically also lets us specify explicitly which version we want installed.

What I would find problematic is:

[2020-05-23 02:12] praneetloke commented on #40
Definitely agree with you. But I do want to clarify that I suggested [this](https://github.com/pulumi/pulumi-az-pipelines-task/issues/40#issuecomment-632914485) only as a workaround for immediate needs, given the way the task is today. It is not ideal, but could allow you to get away from using a password in cleartext for the private package feed, which in my opinion, is less ideal to some users t

[2020-05-23 09:07] DaRosenberg commented on #40
@praneetloke I understand what you mean, it all makes sense. 👍

I will wait for your passthrough option before completing this cleanup, given that we currently have a solution that at least works, I would prefer not to mess with it until we can clean it up good and proper. Can we keep this issue open as a way to track that?

[2020-05-24 19:36] UnoSD opened #43 "Support for secrets provider"
**Is your feature request related to a problem? Please describe.**
I cannot use the task as I cannot set the secrets provider, this forces me to fall back to installing and using Pulumi manually in an Azure CLI task

**Describe the solution you'd like**
Support for --secrets-provider built in the task

**Describe alternatives you've considered**
I tried putting the argument in the args, loginArgs,

[2020-05-26 20:20] praneetloke commented on #43
@UnoSD thank you for submitting the issue. I have a few clarifying questions if you could answer them please?

What exactly did not work with the current task? Which secrets provider did you try to use? Lastly, what was the exact input you passed to the `args` property in the task?

[2020-05-27 11:27] UnoSD commented on #43
I don't have the task definition anymore as I dropped it in favour of and Azure CLI task but I will try and edit one from the Pulumi example:

  - task: Pulumi@1
    condition: or(eq(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.Reason'], 'Manual'))
    inputs:
      azureSubscription: "My Service Connection"
      command: preview
      cwd: "infra/"
      stack: "example"

this

[2020-05-27 18:46] praneetloke commented on #43
@UnoSD the task has an input param called `args`. You should be able to pass `--secrets-provider="azurekeyvault://$KEYVAULT/keys/pulumi"` to it, as well as any other flag that the command accepts. For example,

[code]

However, the value of `args` is not passed to the `stack select` command that this task runs, and it is in fact not needed, _unless_ you are also trying to create a new stack, which

[2020-05-28 09:56] UnoSD commented on #43
I am trying to create a new one as part of the pipeline, unfortunately.

I also tried creating it in a separate task but I recall having the same problem using init.

[2020-06-09 16:24] farzadmf opened #44 "Does it make sense to populate extra environment variables?"
**Is your feature request related to a problem? Please describe.**
It is impossible (well, technically not impossible, but a bit less convenient) to use an Azure KeyVault as the secrets provider since it requires some additional environment variables to be populated.

According to the [documentation](https://www.pulumi.com/docs/intro/concepts/config/#azure-key-vault), if you don't want to set `AZU

[2020-06-17 12:09] fraPace commented on #43
Hello @praneetloke,
I am also experiencing the same problem in the stack init when using a secret provider.
I have tried to use the stack command in the task, but since the stack select (and stack init) always run before the actual task command, there is no way to achieve that.
I would be nice to have something like the loginArgs for the stack select (or init).

[2020-06-29 23:49] sathya177 opened #45 "Get Output variables"
In my Pulumi script - I'm exporting few variables/json
Is there anyway i can bring it in Output variables of Azure Pipeline task
Please share your comments.

[2020-06-30 01:22] leezen commented on #45
You can execute `pulumi stack output` to get the value of those outputs

[2020-06-30 03:08] sathya177 commented on #45
I would like to set that output to release task variable to get that in other tasks or other stage

[2020-06-30 03:19] leezen commented on #45
There's an example of doing exactly that with `pulumi stack output` in https://www.pulumi.com/docs/guides/continuous-delivery/azure-devops/#sample-azure-pipelines-yml

I'm going to close this issue for now, but please feel free to re-open if that doesn't answer your question.

[2020-06-30 03:19] #45 closed

[2020-07-24 09:36] Gerrit-K commented on #44
+1 for that! It's currently pretty difficult to deploy to a stack that is backed by an azure blob storage using this task. The described workaround using `variables` doesn't work if you (IMHO rightfully) model the storage key as a secret, because you're only allowed to either use template `$(macros)` or map them in an `env` block directly ([see here](https://docs.microsoft.com/en-us/azure/devops/p

[2020-07-24 10:09] Gerrit-K opened #47 "Read backend config from Pulumi.yaml"
**Is your feature request related to a problem? Please describe.**
As a developer I want to share common, non-sensitive configuration to make the initial setup as easy as possible. In our case that means that we shared the backend configuration in `Pulumi.yaml`:
[code]
Unfortunately this config doesn't seem to be picked up by the pipeline task.

**Describe the solution you'd like**
I would like th

[2020-09-15 09:44] JasonWhall opened #48 "Azure Storage State Provider Variables not Available to task"
**Describe the bug**
When using the task in YAML pipelines, normally variables are declared in YAML itself e.g.
[code]
However it seems these variables are not available to the Pulumi task at pulumi login. Instead I am presented with the error message:
[code]

**To Reproduce**
Sample pipeline steps (Shortened for simplicity)
[code]

**Expected behavior**
`AZURE_STORAGE_ACCOUNT` is recognised by th

[2020-09-15 17:56] praneetloke commented on #48
@JasonWhall thank you for submitting an issue! It would really help if you could re-run your build pipeline with the `system.debug` variable to `true` as well as check the box for `Enable System Diagnostics` (shown below) when you run your pipeline.

**Please do note that the debug mode will print any secret env vars to your build log. For that reason, please do not post the debug log here.**

![i

[2020-09-15 19:13] praneetloke commented on #48
I got a chance to put something together and see what is going on. Two things:

1. Defining [`variables`](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#understand-variable-syntax) in the config file only makes them available as _variables_ and not environment variables.
2. There does seem to be a bug in that the `login` phase of the t

[2020-09-15 19:50] JasonWhall commented on #48
Hi @praneetloke, thanks for picking this up. With regards to running this pipeline in Debug, the environment variable is printed out to the console, but not by the line of code you mention.

The task seems to fail before this when running the login command [here](https://github.com/pulumi/pulumi-az-pipelines-task/blob/master/buildAndReleaseTask/pulumi.ts#L198)

I did have a quick test with uploadi

[2020-09-15 20:17] praneetloke commented on #48
@JasonWhall

Yep. This is what I realized too.

Exactly. I think this is the "fix" I mentioned in this [comment](https://github.com/pulumi/pulumi-az-pipelines-task/issues/48#issuecomment-692922218).

Hmm I may be misled by the example snippet on that page, but I think you may be right in that they should be accessible and perhaps again the problem here is that the `loginEnvVars` doesn't include _a

[2020-10-15 08:10] adriantorrie opened #49 "PULUMI_ACCESS_TOKEN error when using Azure Blob backend in self-hosted agent"
**Describe the bug**

[code]

Commands are in the detail above:

1. `pulumi login --cloud-url azblob://***`
2. `pulumi stack select ***` <- This causes the error, even though we are not using Pulumi back-end

Running this on a self-hosted agent on-prem, for which we've had to build the docker image from scratch, and install Pulumi into the image, due to firewall restrictions preventing auto-downlo

[2020-10-17 03:27] leezen commented on #49
This looks odd given you're passing PULUMI_SKIP_UPDATE_CHECK and yet the update check still takes place but it would appear only to be on the login command. This makes me suspect that `PULUMI_HOME` at that point is pointing somewhere else (which would in turn cause the login to write to somewhere else). If you explicitly set `PULUMI_HOME` as part of executing that login command, does this work?

[2020-10-20 04:51] adriantorrie commented on #49
Closing, we've got firewall restrictions lifted, and plan to use the task to auto-install and configure pulumi correctly within the self-hosted docker agent.

[2020-10-20 04:51] #49 closed

[2020-10-20 05:48] adriantorrie opened #50 "`pulumi up` fails on self-hosted docker agent, works perfectly on hosted agent."
**Describe the bug**
`pulumi up` fails on self-hosted agent, works perfectly on hosted agent.

**To Reproduce**
Steps to reproduce the behavior:
1. Build minimal self-hosted agent and deploy

[code]

2. On the self-hosted agent during a pipeline run - Install pulumi requirements

[code]

3. On the self-hosted agent during a pipeline run - Run `pulumi up`

[code]

4. See error

[code]

**Expected b

[2020-10-28 17:35] praneetloke commented on #48
@JasonWhall the latest version 1.0.7 should fix the issues you were encountering. Both with the `env` vars mapped to the Pulumi task not being used by the login command, as well as the `AZURE_*` env vars not being set from the Service Connection. Could you please give this another try?

[2020-10-28 17:38] praneetloke commented on #44
The latest version 1.0.7 (released today) should allow you to specify additional env vars to be passed to the execution environment of the `pulumi login` command. As @Gerrit-K mentioned, you could just use the `env:` key to specify additional env vars at the step-level and it should bee passed to the shell that is executing the `login` command. In addition, v1.0.7 also now sets 3 additional env va

[2020-10-28 17:43] praneetloke commented on #50
@adriantorrie would you mind trying out the latest version v1.0.7 (released today) and see if that resolves your issue? I believe it should work as it was related to the task not setting some env vars that is used by the KeyVault secrets provider, as well as the `login` command not using env vars defined in the executing process.

I believe on a self-hosted agent too the task extension should auto

[2020-10-29 15:43] JasonWhall commented on #48
Hey @praneetloke - Yes, this now allows access to the variables required and the service principal has access to the secrets provider through the `AZURE_*` variables by default. Thanks! 👍

For completeness I have included an example pipeline below that is known to work (providing you have the resources/connections setup)

[code]

However I've now run into #40 🤣 I will comment more info there.

[2020-10-29 16:03] JasonWhall commented on #40
Just to add another scenario where this doesn't behave the same as just running the pulumi cli:

Have a Nuget.Config in your repository without an API key specified. Example:
[code]
Prerequisite steps in Azure Pipelines to allow nuget restore:
[code]
Working step, downloading Pulumi Cli and running:
[code]

Invalid step, using Pulumi Task:
[code]

I'm not entirely sure why the Pulumi task is unabl

[2020-10-29 16:39] praneetloke commented on #48
@JasonWhall that's great! Thank you so much for providing the example as well. I'll go ahead and close this issue.

I saw your comment on #40. :) I'll provide my response there today.

[2020-10-29 16:39] #48 closed

[2020-10-29 22:12] praneetloke commented on #40
@JasonWhall could you please try to run the [Nuget task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops) instead of the `NugetAuthenticate` task prior to running the `Pulumi` task step?

[2020-10-30 11:32] JasonWhall commented on #40
Hi @praneetloke - This will take some work for me to test this scenario as this task requires `mono` to be installed on the Linux agent.

Additionally the `NuGetCommand@2` is not recommended for .NET core projects, instead using the `DotNetCoreCLI@2` task. I've tried running a restore with this beforehand, but produces the same results as using the NugetAuthenticate task:

[code]

Error:
[code]

I

[2020-10-30 13:05] JasonWhall commented on #40
@praneetloke  I've also now tried the `NuGetCommand@2` task with the configuration below, both with the Nuget.config in the project and by specifying the artifact feed:

[code]

The Nuget Restore works fine in both scenarios, but when running Pulumi commands using the task this still fails with the same error message:
[code]

[2020-11-03 01:27] praneetloke commented on #40
@JasonWhall thank you for reporting the results of your trials. I think I know what is happening and have a solution for this.

Here's a working pipeline config:

[code]

It seems that there were timeout issues with some versions of the NugetTool that were "fixed" in newer versions of the tool along with increased retries. For this reason, the NugetAuthenticate team recommends using the latest ver

[2020-11-03 01:38] praneetloke commented on #40
(Note that I deleted an earlier comment because the lengthy error message snippet that I pasted wrapped-around _after_ I added the comment which revealed a detail I didn't notice before.)

@JasonWhall thank you for reporting the results of your trials. I think I know what is happening and have a solution for this.

Here's a working pipeline config:

[code]

It seems that there were timeout issues

[2020-11-04 22:41] JasonWhall commented on #40
Hey @praneetloke thanks for the detailed investigating! Upon review I agree that there is some spurious behaviour with nuget restore and later nuget client versions seem to fix this. However I don't believe this explains how the restore works consistently for a script task that calls the pulumi cli, compared to this pulumi task. I've tried the scenarios you've mentioned and I was unable to get thi

[2020-11-04 22:47] JasonWhall commented on #40
Additionally I thought I'd comment here to add some detail about using Azure artifacts with Dotnet projects and this task as it may help others:

1. DevOps Artifact feeds are now [Project scoped by default](https://docs.microsoft.com/en-us/azure/devops/artifacts/concepts/feeds?view=azure-devops#project-scoped-feeds-vs-organization-scoped-feeds). This means if a Nuget Package in your C# code lives

[2020-11-04 23:29] praneetloke commented on #40
@JasonWhall that's interesting about the `DOTNET_CLI_HOME`. It was added because on the Azure Pipelines build agents without that env var the build [fails](https://github.com/pulumi/pulumi-az-pipelines-task/issues/23). The task sets it to, what I think, a reasonable default. But you are right in that it should have been documented so users would know to overwrite it if there are issues.

Yeah that

[2020-11-05 07:52] JasonWhall commented on #40
@praneetloke I think this has actually gone full circle with #51 actually fixing the root cause of #23 by allowing access to the os environment variables, including `$HOME`. So it looks like setting `DOTNET_CLI_HOME` is no longer a requirement as the pulumi task can now read the agents home directory when running `dotnet build`

As for the what `DOTNET_CLI_HOME` is for, this issue seems to capture

[2020-11-09 01:43] adriantorrie commented on #50
Will give it a go sometime this week hopefully.

[2020-12-07 16:55] Aaronontheweb opened #52 "pulumi 2.15.1 generates file access error upon login on hosted Windows Agents"
**Describe the bug**
When attempting to run our standard Pulumi build script on Windows, which has been working without issue for months now, we get the following error as of Pulumi v2.15.1:

[code]

**To Reproduce**
Our Pulumi task that fails the issue is below:

[code]

Nothing to it - this task runs on a hosted Azure VM with a `vs2017-win2016` configuration and the task fails upon login to Pulu

[2020-12-07 16:59] lukehoban commented on #52
This appears to be a regression introduced in Pulumi `2.15.1` via https://github.com/pulumi/pulumi/pull/5857.

[2021-01-01 17:29] asizikov opened #53 "`createStack:true` doesn't work when used with fully qualified stack names"
**Describe the bug**

`createStack:true` should create a new stack when it doesn't exist, however it doesn't work when I use a fully qualified stack name.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an Azure Pipiline with a task like this:
[code]
2. Run the pipeline

When the `$stackName` variable contains the short name for the stack it works ok, however when I use a fully quali

[2021-01-03 05:18] praneetloke commented on #53
@asizikov thank you for taking the time to submit the bug report! Appreciate the details. The current way of creating a stack if one doesn't exist was always just a workaround to using the CLI's built-in way to do it. Ideally, I'd like to update the task extension to simply add the flag to the `stack select` command if the user wishes to create a stack. Also see https://github.com/pulumi/pulumi-az

[2021-02-10 10:10] mikhailshilkov opened #58 "Add an example for Azure NextGen"

[2021-03-04 15:29] JasonWhall opened #59 "Use build agent tool cache"
Currently for self-hosted agents, most pipeline tasks that use an application store the binary in the tool cache. This can then be referenced without downloading it again from source for future job runs.

It looks like the Pulumi task does check to see if the Pulumi CLI exists in the tool cache [here](https://github.com/pulumi/pulumi-az-pipelines-task/blob/9812236305db0bc0d63128a83bd3a53223bd591b/

[2021-03-04 16:12] JasonWhall opened #60 "Stack outputs to variables"
Currently there is not an easy way to get a stack output using the pulumi task and re-using the output value in other steps in the pipeline.

This feature would be beneficial to have as we could have infrastructure creation using the pulumi task and then use these outputs as variables in other subsequent tasks, like `kubectl` or `azure-cli`.

This would require running `pulumi stack output` with t

[2021-03-17 04:30] darnmason opened #61 "A better way to install plugins"
I use a build pipeline to publish an artifact of my Pulumi project and another pipeline downloads that artifact to execute it.

This means that I have Pulumi configured with the binary option:
[code]

I discovered that this means Pulumi can't/won't install plugins used by the binary. So now I've resorted to the following steps when executing Pulumi:

[code]

Is there a better way to do this or can

[2021-03-18 20:34] #50 closed

[2021-03-18 20:36] praneetloke commented on #61
@darnmason `pulumi` not installing the plugins automatically when you use the `binary` option is expected since the Pulumi CLI doesn't support it when you use the `binary` option. Another related issue is https://github.com/pulumi/pulumi/issues/5334 (and specifically this [comment](https://github.com/pulumi/pulumi/issues/5334#issuecomment-704230763)). cc @mikhailshilkov just in case he is aware of

[2021-03-22 14:58] KarlKl opened #63 "Colored `pulumi preview` output"
**Is your feature request related to a problem? Please describe.**
When I use the pulumi task in a build pipeline, the output is not colored, even when I add `--color always`.
**Azure DevOps build pipelines do already support [ANSI escape code](https://en.wikipedia.org/wiki/ANSI_escape_code)!**
![image](https://user-images.githubusercontent.com/8360477/112008599-eb242f00-8b25-11eb-9d35-ae71ae3fa86

[2021-03-23 15:09] #59 closed

[2021-03-23 15:09] #53 closed

[2021-03-23 15:09] #38 closed

[2021-03-28 12:27] DaRosenberg commented on #40
@JasonWhall I want to thank you for your efforts here. We were able to use your solution to set the `DOTNET_CLI_HOME` variable, and get rid of the messy altering of `NuGet.config`, storing personal access tokens etc.

As of today, this works fine for us:

[code]

Removing the script task to set the `DOTNET_CLI_HOME` variable breaks it.

@praneetloke As suggested, it would be very helpful to either

[2021-04-13 15:47] praneetloke commented on #59
@JasonWhall apologies for the delay in getting this one published in a release but version 1.0.9 is now published that has a fix for this.

[2021-04-21 09:50] asehra opened #64 "Pulumi CLI not found error when "versionSpec" is specified"
**Describe the bug**
When the `versionSpec` input is configured to `3.0.0`, the first run caches the cli, and the subsequent looks for the cli on PATH but fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a pulumi config task as below:
[code]
2. Run the task. The first execution downloads the tool and caches it:
[code]
3. Run the task again. This time the task looks for the to

[2021-04-21 15:36] praneetloke commented on #64
Thanks for reporting this, @asehra. I am suspecting that the directory added to the `PATH` from the tool cache is perhaps encapsulated in another directory. If you could please add a command-line task after the initial Pulumi task step and see what is under `/azp/agent/_work/_tool/pulumi/3.0.0/x64`? That would help diagnose this.

[2021-05-06 17:07] #64 closed

[2021-05-06 17:37] praneetloke commented on #64
The fix for this is now available in [`v1.0.10`](https://github.com/pulumi/pulumi-az-pipelines-task/releases/tag/v1.0.10).

[2021-05-17 23:51] #58 closed

[2021-05-20 07:40] dirien opened #71 "Support for pulumi refresh command"
**Describe the solution you'd like**
Would be nice, when the plugin is supporting the `pulumi refresh`command

[2021-05-20 15:25] praneetloke commented on #71
@dirien you should be able to type any supported command in the pick list box, if it is not already available for selection. The pick list is [editable](https://github.com/pulumi/pulumi-az-pipelines-task/blob/master/buildAndReleaseTask/task.json#L44). If you are configuring the pipeline directly in yaml, you just need to pass the value to the `cmd` input param. Did you encounter an error while try

[2021-05-20 18:40] praneetloke commented on #40
[Version 1.0.11](https://github.com/pulumi/pulumi-az-pipelines-task/releases/tag/v1.0.11) has the change that removes setting the `DOTNET_CLI_HOME` in the task extension. @DaRosenberg it seems that the original issue with not being able to restore Nuget packages from an internal feed should be resolved. Let us know if you have any other questions related to that. I'll close this issue after someti

[2021-05-20 20:45] dirien commented on #71
hi,

from the ui i see that refresh ist not available and it shows a warning in the editor:

![image](https://user-images.githubusercontent.com/38325136/119041774-55870d80-b9b7-11eb-9878-1f503be8f2d5.png)
![image](https://user-images.githubusercontent.com/38325136/119041792-57e96780-b9b7-11eb-92fe-efc271512e25.png)

But as you wrote, when i "hardcode" it works.

So i created a PR https://github.co

[2021-05-21 01:04] praneetloke commented on #71
@dirien the warning should be ok to ignore. The picklist options were intentionally made editable for reasons like this when a command is missing in the list to select from. Your PR looks good to me. Thank you for submitting it!

[2021-05-21 01:07] #71 closed

[2021-05-21 01:48] praneetloke commented on #71
Once again, thank you for submitting the PR! The change is available with [v1.0.12](https://github.com/pulumi/pulumi-az-pipelines-task/releases/tag/v1.0.12). Your build agent should automatically pick-up the new task extension version. It might take a few minutes for it to detect the new version availability.

[2021-05-21 02:10] praneetloke commented on #61
@darnmason since v1.0.9 you should be able to use the task extension to simply install the CLI and then run a single `script` task to install all plugins. It's still not the best experience but slightly better than having to specify the Pulumi task multiple times for each plugin you want to install.

[code]

(Note to other readers: you are only need to install the plugins manually if you are using

[2021-05-21 03:04] darnmason commented on #61
Definitely an improvement in the usability of the Pulumi task, using it just to install the tools.

Still a bit to go with automatically installing the plugins. A pain point is having the hardcoded plugin versions in your deployment script. You update a plugin in Nuget and forget to update the deployment script and need to fix and redeploy. Removing this manual step should be the end goal.

If it

[2021-05-27 17:00] DaRosenberg commented on #40
@praneetloke We have since moved to a monorepo model, so are no longer referencing internal package feeds... but nice to know that this issue has been resolved!

[2021-05-27 17:38] #40 closed

[2021-06-04 09:57] JasonWhall opened #73 "Support Different Azure Authentication Methods"
**Describe the solution you'd like**
It would be beneficial to allow supporting different authentication methods in the service connection section for Azure credentials. Currently this only support a service principal with a key, however there is also certificate authentication and managed identity which are not currently supported in this task.

![image](https://user-images.githubusercontent.com/

[2021-09-03 08:24] tfreundo opened #79 "Can't deploy to Azure China subscription: Failed to refresh the Token"
I have a pulumi stack that I deploy to AzureCloud and AzureChinaCloud. This works fine from my local machine using my own user.
Afterwards I automated it using an Azure DevOps Pipeline (using a Service Principal) which again works fine for AzureCloud but does not work for AzureChinaCloud.

I have set the environment to AzureChinaCloud through the environment variable `ARM_ENVIRONMENT` with value `

[2021-09-03 23:04] emiliza commented on #79
Seems like a possible issue for `pulumi-az-pipelines-task` or possibly just a configuration error. Could you also provide context on other environment variables you're setting?

[2021-09-06 06:02] tfreundo commented on #79
Thanks for the fast reply.

Sorry I should have mentioned that I use the [manual approach](https://www.pulumi.com/docs/guides/continuous-delivery/azure-devops/#using-scripts-manual-approach) of using pulumi with Azure DevOps and I use an [Azure Blob Storage as state backend](https://www.pulumi.com/docs/intro/concepts/state/#logging-into-the-azure-blob-storage-backend).

Therefore after the setup i

[2021-09-09 08:39] tfreundo commented on #79
@emiliza maybe you have to move this issue again as I do not use `pulumi-az-pipelines-task`

[2021-09-16 12:00] theomessin commented on #47
Bump

[2021-10-11 23:13] clstokes opened #80 "Support Service Connections for other providers - e.g. AWS"
The pipeline task supports [azure service connections](https://marketplace.visualstudio.com/items?itemName=pulumi.build-and-release-task#:~:text=get%20started%20quickly.-,Prerequisites,-You%20must%20have) but does not support AWS or other providers.

Ask: the pipeline task should support Service Connections for other providers - e.g. AWS.

[2021-11-03 06:42] tfreundo commented on #79
Any updates on this?

[2021-11-17 17:49] jdudleyie opened #84 "Migrate the task to use Node10 execution handler"
**Describe the bug**

In Azure DevOps, when using this task, a warning now appears:

`##[warning]This task uses Node 6 execution handler, which will be deprecated soon. If you are the developer of the task - please consider the migration guideline to Node 10 handler - https://aka.ms/migrateTaskNode10. If you are the user - feel free to reach out to the owners of this task to proceed on migration.`

[2021-11-18 08:02] tfreundo commented on #79
We just found the issue, we accidentally have overwritten the env vars in the pipeline. Therefore my fault, closing the issue.

[2021-11-18 08:02] #79 closed

[2021-11-22 16:43] #84 closed

[2021-11-29 16:21] praneetloke commented on #84
Version 1.0.14 of the task extension was just released and will no longer produce this warning. Az Pipelines build agents will automatically pick up the new task extension version in sometime.

[2021-11-30 13:07] jdudleyie commented on #84
Thanks

[2022-01-12 13:40] pierskarsenbarg commented on #63
Linking a ticket in the pipelines agent repo: microsoft/azure-pipelines-agent#1569

[2022-01-13 09:44] tap1992 opened #87 "Create a Summary/Markdown file from pulumi preview/up"
**Is your feature request related to a problem? Please describe.**
Currently visability of changes in Pulumi preview or Pulumi up isn't very good due to the way Azure Pipelines works, they are currently only visable within the task logs which requires diving into a few drop downs

**Describe the solution you'd like**
Generate a Summary/Markdown file from the output that is generated from the Pulum

[2022-01-14 15:59] tap1992 opened #91 "Pulumi extension task fails when ran as part of a deployment"
**Describe the bug**

Using the Pulumi Azure DevOps extension's task within a deployment job it fails with the below error. If i copy and paste the same task into a normal job it works perfectly fine.

##[error]Error: There was an error when attempting to execute the process '/__w/_temp/c0162cb7-b00c-44f7-a09c-82bb8eefcc6a/pulumi/pulumi'. This may indicate the process failed to start. Error: spawn

[2022-01-14 16:16] praneetloke commented on #91
It seems that you will need to include a step to checkout the source code in your deployment job since they do not automatically clone the source repo. See https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops.

[code]

[2022-01-25 17:20] danielrbradley commented on #87
cc: @pulumi/platform

[2022-01-26 20:43] praneetloke commented on #91
@tap1992 are you still encountering a problem using the task extension?

[2022-02-11 08:12] ModernRonin commented on #61
it would be extremely helpful if the command `pulumi plugin install` supported "latest" for version.

use-case:
I have a nightly pipeline running a docker-image to use by our pulumi-related pipelines. that image is based on `pulumi/pulumi-nodejs` because we are using TS. however, we use several plugins.

now I could just let pulumi install them whenever it's invoked, but that's wasting time - the

[2022-02-16 22:20] rdanno commented on #61
The version of the plugin seems to get written into the stack/state. When I upgrade to a new plugin version, the stack continues to use the old version. If I manually update the state, it uses the new plugin.

Is there some way to specify that the stack should always use :latest, or some other way of telling Pulumi to automatically try for new versions of plugins?

[2022-02-17 02:24] lukehoban commented on #61
Agreed that this would be a useful addition.  I've opened https://github.com/pulumi/pulumi/issues/9001 to track that directly.

[2022-02-17 04:37] rdanno commented on #61
Not sure if this is the thread for it. I noticed that the prior version of a plugin needs to exist when performing a deploy after installing a new plugin. The state references the version of the initial plugin. Only after the deploy is performed can the original plugin be removed.
It's only a problem if the first plugin is removed before the new one is installed. It also means the plugin cache ten

[2022-02-17 04:53] lukehoban commented on #61
@rdanno I expect what you are describing is due to https://github.com/pulumi/pulumi/issues/5619.

[2022-02-23 15:28] StevenTCramer opened #96 "Azure Dev-Ops Pulumi@1 action hangs when running on Windows agent"
I have the following task in azure dev-ops and it runs fine on a Linux agent but it hangs on Windows agent:
[code]
Windows Agent output stops there:
![image](https://user-images.githubusercontent.com/357219/155349996-7563b336-1e3c-4a8e-873a-7b5a2b5b1c35.png)

If I go to the agents working directory and run the `pulumi preview ` it works fine.

[code]

[2022-04-04 16:24] litan1106 opened #100 "Please add support for multiple azure subscriptions"
**Is your feature request related to a problem? Please describe.**
In a real world application, I need to communicate with multiple azure subscriptions.

[2022-05-13 12:00] cstrempfer opened #105 "Define a License"
**Is your feature request related to a problem? Please describe.**
Unfortunately we can't use the extension in our company-internal Azure DevOps Marketplace, because it's not clear license-wise if we can make changes to the code. Changes to the code are necessary from our side to be able to transfer the extension to our own Marketplace.

**Describe the solution you'd like**
Define a license that i

[2022-05-16 18:47] zbuchheit commented on #87
I also would like to do something similar. I’d like to take the preview results and comment them onto a pr in my CICD workflow. In order to do so I would need to support Pulumi preview —json to a variable and then inject that into the pr comment.

[2022-05-20 17:52] #105 closed

[2022-06-06 16:58] RobbieMcKinstry commented on #87
I'm going to look into this ticket. I'm new to the Pulumi team; thank you for your patience with me as I come up to speed.
At first blush, I think the plan is to use the `--json` flag to store the preview in a file, then convert the JSON into Markdown.

[2022-06-06 17:05] RobbieMcKinstry commented on #87
Hi @zbuchheit. Hmm, without making any commitments, that sounds like something I could explore when I look into this ticket. However, it looks like a duplicate of [#60](https://github.com/pulumi/pulumi-az-pipelines-task/issues/60). Do you agree that #60 would satisfy your use case?

[2022-06-06 19:12] zbuchheit commented on #87
Yeah that looks like it is similar/a duplicate. Ultimately I’d like to do what is available in GitHub actions today with the comment on pr functionality. Maybe that’s a better explanation on the feature I actually want. Outputting the json would be good and I could implement that feature myself but would be nice to have it automatically do it for me like in GitHub actions.

I’m not sure if there’s

[2022-07-27 15:38] sinePaul opened #109 "Cannot use the task with pulumi version 3.37.0"
**Describe the bug**
This task download the latest version of pulumi and install it. The new version 3.37.0 will cause the installation script to fail when installing pulumi

**To Reproduce**
Steps to reproduce the behavior:
1. Use that task without specifying a specific version of pulumi

**Expected behavior**
Pulumi to be installed

**Screenshots**
##[debug]Exit code 0 received from tool 'C:\Win

[2022-07-27 18:22] AaronFriel commented on #109
Likely a duplicate of https://github.com/pulumi/pulumi/issues/10262

We'll track this there as a P0.

[2022-07-27 19:45] AaronFriel commented on #109
@sinePaul @MitchellGerdisch could you confirm that setting 3.36.0 as the Pulumi version allows pipelines to resume?

This workaround should work while we release 3.37.1.

[2022-07-28 17:06] AaronFriel commented on #109
This is resolved with the release of 3.37.1 yesterday.

Thank you very much for reporting and apologies for any disruption.

[2022-07-28 17:06] #109 closed

[2022-07-29 08:13] sinePaul commented on #109
Thanks!

[2022-08-18 17:57] jaxxstorm opened #110 "Support comments"
**Is your feature request related to a problem? Please describe.**
A customer has created a custom integration that will comment back on the ADO task output to show what is changing, very similar to the github action integration

**Describe the solution you'd like**
When Pulumi preview or up runs, any changes should be posted back to the PR or the triggering pipeline

**Describe alternatives you'v

[2022-08-18 17:58] jaxxstorm opened #111 "Pulumi access token not always honoured in scaleset"
When running azure devops runners as an Azure scaleset, if the azure scaleset has an env var set for a pulumi access token, the pipeline token isn't always honoured.

Will try and get a repro for this

[2022-08-18 17:58] jaxxstorm commented on #110
This seems to be the same as #87

[2022-08-30 15:22] RobbieMcKinstry commented on #111
Hey there @jaxxstorm ! I just wanted to nudge you for a repro on this issue.

[2022-08-31 08:14] erikthedog opened #112 "Deploying Azure AD B2C Tenant fails with "Unauthenticated" message."
I have a dotnet project containing an [Azure AD B2C Tenant](https://www.pulumi.com/registry/packages/azure-native/api-docs/azureactivedirectory/b2ctenant/).

I can successfully deploy the stack with `pulumi up` from my machine logged in to Azure as my personal user.

When trying to deploy the stack from Azure Devops using the `Pulumi@1` task it fails with `Unauthenticated` error code:

[code]

The

[2022-09-07 21:47] praneetloke commented on #87
I think there are two feature requests being discussed here: 1.) showing a summary tab with the Pulumi logs and 2.) the task should add a comment containing the Pulumi command logs to the PR (#110) (I am working on #110.)

1.) It seems to be possible by specifying an additional entry in the `contributions` array of the extension manifest file called `vss-extensions.json` (found in the root of this

[2022-09-07 21:47] praneetloke commented on #110
This should be possible using the DevOps REST API to create comment threads in PRs. There's a Node.js client [SDK](https://github.com/Microsoft/azure-devops-node-api) for interacting with the API.

<details>

<summary>Additional refs</summary>

https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull-request-threads/create?view=azure-devops-rest-6.0&tabs=HTTP

https://docs.microsoft.com/en-

[2022-09-08 22:07] praneetloke commented on #111
I don't know if self-hosted runners will propagate the scaleset's env vars to pipeline tasks. Pipeline tasks might just not inherit them by default. This might actually be a question for the Azure Pipelines team.

[2022-09-13 11:18] sloncho commented on #60
@RobbieMcKinstry any progress on this? We badly need it :)

[2022-09-16 10:40] kAleksei commented on #63
The ticket seems to be closed. Do we have any updates on it?

[2022-09-18 15:48] RobbieMcKinstry commented on #60
@sloncho this issue is somewhat related to https://github.com/pulumi/pulumi-az-pipelines-task/issues/87 in that both issues require us to add a "post-execution" step. @praneetloke has been working on #87 [here](https://github.com/pulumi/pulumi-az-pipelines-task/pull/113) and we're going to roll it out soon, effectively unblocking this issue.

I'm not sure if this issue itself has been slated or no

[2022-09-19 11:12] sloncho commented on #110
would this help? https://marketplace.visualstudio.com/items?itemName=tylermurry.pr-auto-comment
If the pulumi task outputs the result in json file or something

[2022-09-19 11:17] sloncho commented on #60
@RobbieMcKinstry thanks for the update. The way I see it - #87 can be secondary actually - as if this here is implemented, it will already has the json output. Then #87 can addressed to use this output. Of course, you guys know better your priorities. :)

[2022-09-19 15:29] RobbieMcKinstry commented on #60
Hi @sloncho,

Thanks for offering to contribute. I'm afraid there's no contributor guide for this repo yet, apologies! [Here's a link](https://github.com/pulumi/actions/blob/master/CONTRIBUTING.md) to the guide for the GitHub Actions repo (only the first section is relevant, you can ignore anything about the Release process!). and [here's a link](https://github.com/pulumi/pulumi/blob/master/CONTRI

[2022-09-19 15:39] RobbieMcKinstry commented on #60
I opened a PR for a contributor guide [here](https://github.com/pulumi/pulumi-az-pipelines-task/pull/114). Most of the practical information for running the repo is in the README, however.

[2022-09-28 06:45] thoemmi opened #118 "After updating to Version 1.1 our release pipeline fails"
This morning we've updated the Pulumi DevOps Extension to version 1.1. Afterwards, our **release** pipeline fails with this error:

As it turned out, the option _Job access token is required to create/update_ is enabled by default. However, this doesn't make sense for release pipelines.

As a workaround, I now have to edit all of our release pipelines to disable this option.

[2022-09-28 18:07] JDetmar commented on #118
We are seeing a similar issue after 1.1.0 upgrade. Our deployment pipelines are failing with the error `Could not determine the PR ID`.
This version is a breaking change that requires us to edit our pipelines and explicitly add the configuration value: `createPrComment: false`

[2022-09-28 18:22] JDetmar commented on #118
am I understanding that PR #113 is defaulting to comment to `true`? As shown here:
[code]

[2022-09-29 18:07] MitchellGerdisch opened #120 "Support an option to specify the state for the PR comment that is added."
**Is your feature request related to a problem? Please describe.**
Currently when the pipeline task adds a PR comment, it defaults the state to "Active".
However some users have pipelines that only pass once the PR comment is set to "Resolved."

**Describe the solution you'd like**
So offering an option that can be set for the task extension to specify the default behavior is desired.
Optimally, t

[2022-09-29 18:10] MitchellGerdisch commented on #118
In case this helps others, until the referenced PR is pushed out, one can set the "createPrComment" property in the pipeline code as such:

[code]

[2022-09-29 19:14] zelda1998 commented on #118
You need to allow your job to have access to the azure devops access token

![image](https://user-images.githubusercontent.com/73412507/193122115-b2cf31a5-0225-42df-b556-1d7492c2082f.png)

[2022-09-29 20:38] #118 closed

[2022-10-17 20:49] lukehoban commented on #111
Closing out for now - since it seems both no repro and by design - but feel free to reopen if there's more details and a clear indication that this is something that can be solved in the Pulumi Pipelines Task.

[2022-10-17 20:49] #111 closed

[2022-10-25 11:36] dblair-cet commented on #110
Would it be possible to skip the deletion of the temporary `pulumi-out.log` file or make deleting it configurable? If I could grab that file I could pipe its contents into the [github comment task](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/github-comment-v0?view=azure-pipelines) or use it for other purposes. This would be very helpful especially since the Pulumi GitH

[2022-10-31 13:28] praneetloke commented on #110
@dblair-cet what's not working specifically in the GH App?

[2022-11-07 14:34] tap1992 commented on #87
Any update on when this might be implemented please?

[2022-11-10 15:02] zbuchheit opened #122 "Task Fails when using a Management Group scoped Service Connection"
**Describe the bug**
When using the task, the task goes and grabs the subscriptionid off of the passed in service connection via getEndpointDataParameter. If using a management group scoped service connection the subscriptionid does not exist on the service connections metadata so it causes it to throw an error and the task to fail.

**To Reproduce**
Steps to reproduce the behavior:
Pass in a mana

[2022-11-14 21:34] aq17 commented on #122
Hi @zbuchheit , thanks for opening this issue – would you be able to provide a code snippet/ example so we can try to reproduce this?

[2022-11-15 02:36] RobbieMcKinstry commented on #87
Nothing in progress at this time, sorry!
We're always willing to accept community contributions, which can help speed up the process, but as of this sprint we haven't scheduled this issue

[2022-11-15 21:42] phillipedwards commented on #122
@aq17 This ask is related to [this](https://github.com/pulumi/pulumi-az-pipelines-task/blob/ad15dfc126dbe808888044eea139ee71ccb9e424/buildAndReleaseTask/serviceEndpoint.ts#L34-L38) code block. Specifically, a management group scoped service connection does not have a single `subscriptionId` (it can have multiple).

The problem becomes `subscriptionId` is marked as required so, if a `subscriptionId

[2022-11-15 21:44] phillipedwards commented on #122
What I'm proposing is we set the `subscriptionId` to optional so instead of:

[code]

we end up with:
[code]

[2022-11-15 21:46] aq17 commented on #122
Thanks for clarifying @phillipedwards , that makes sense. Would you like to open a PR or shall I?

[2022-11-15 22:01] phillipedwards commented on #122
@aq17  PR is up, although it looks like some CI failures are occurring...
https://github.com/pulumi/pulumi-az-pipelines-task/pull/123

[2022-11-15 22:25] aq17 commented on #122
@phillipedwards on second glance it looks like a subscription ID is required (https://arinco.com.au/blog/azure-done-right-series-azure-devops-and-management-group-service-connections/) – need to find a way to resolve this when a mgmt group is used

[2022-11-15 22:32] phillipedwards commented on #122
I think for this particular case `subscriptionId` is required due to the fact the task is directly using the data point, however, I don't think (could be wrong) it should be required with the Pulumi ADO task. Ultimately, the `subscriptionId` will have to be specified in a Pulumi stack configuration, if a customer wants to use Management Group Service Connection and we will have to make that known.

[2022-11-16 19:38] phillipedwards commented on #122
@aq17 can you take a look and approve if we're good to go?

[2022-11-16 20:03] aq17 commented on #122
@phillipedwards CI is still failing likely due to the `subscriptionId` requirement to establish the service endpoint. The link above ^ uses a PowerShell script to select a subscription from the management group

[2022-11-25 05:54] alhardy opened #124 "Task fails to update using deployment approvals"
**Describe the bug**
Error running pulumi as azure devops pipeline deployment, but works a a task.

Error I'm getting is ##[error]Error: There was an error when attempting to execute the process '/home/vsts/work/_temp/fcb56bad-72b5-4c6a-94ad-47b1c9a55eeb/pulumi/pulumi'. This may indicate the process failed to start. Error: spawn /home/vsts/work/_temp/fcb56bad-72b5-4c6a-94ad-47b1c9a55eeb/pulumi/pul

[2022-11-28 22:56] #122 closed

[2022-11-30 13:41] Frassle commented on #124
Looks like this is the same issue as https://github.com/pulumi/pulumi-az-pipelines-task/issues/91. Comment there suggests a workaround is to clone the source repo first, although not clear how that would help fix the enoent for pulumi itself.
At any rate I'll close this as a duplicate, if you could test the suggesting in #91 and message back there.

[2022-11-30 13:41] #124 closed